img {
    width: 100%;
    box-shadow: 0 0 3px;
}

input {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 50%;
    display: block;
    padding: 10px;
    margin: auto auto 20px auto;
    border: solid 1px #BABABA;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    outline: none;
}